# Dev environment overrides
environment: Development
global:
  image:
    pullPolicy: IfNotPresent # Use local images if available
# Reduce resource usage for local dev
authService:
  replicas: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 256Mi
  tag: auth-service-52cb5bcfb2f3b3d94ece58180b5e5df71ea2685c
expenseService:
  replicas: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 256Mi
  tag: expense-service-52cb5bcfb2f3b3d94ece58180b5e5df71ea2685c
categoryService:
  replicas: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 256Mi
  tag: category-service-52cb5bcfb2f3b3d94ece58180b5e5df71ea2685c
budgetService:
  replicas: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 256Mi
  tag: budget-service-52cb5bcfb2f3b3d94ece58180b5e5df71ea2685c
savingsGoalService:
  replicas: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 256Mi
  tag: savings-goal-service-52cb5bcfb2f3b3d94ece58180b5e5df71ea2685c
analyticsService:
  replicas: 1
  autoscaling:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 250m
      memory: 256Mi
  tag: analytics-service-52cb5bcfb2f3b3d94ece58180b5e5df71ea2685c
ingress:
  enabled: false
  ignoreHealthCheck: true
  host: dev.spendwise.local
secrets:
  existingSecretName: spendwise-secrets
  create: false
